/** 
    Author: Alexis Pena
    Course: cis 133
    Lesson: 10
    display grid in one column
    adjust card width at 290px, 190px
**/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}

#wrapper {
    background-color: #ddd;
    margin-top: 50px;
}

/* Header Styles */
header {
    background: black url(../images/background.jpg) no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0;
}

/* Navigation Bar Styles */

nav ul {
    list-style-type: none;
    background-color: #2d3437;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #135367;
    color: #ffffff;
}

nav .right {
    background-color: #E1693D;
    color: #000000;
    float: right;
}

nav .active {
    background-color: #ffffff;
    color: #000000;
}

nav {
    top: 0;
    position: absolute;
    width: 100%;
}

/* Main Styles */
main {
    padding: 20px;
    width: 900px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

/* our services page styles */
.cards-container{
    display: grid;
    grid-template-columns: 1fr;
}
.card{
    border: 10px solid #ddd;
    background-color: white;
    width: 445px;
}
.card img {
    float: left;
    background-color: #135367;
    width: 100px;
    padding: 20px;
    margin-right: 5px;
  }
  .card h2, p{
    font-size: medium;
    padding: 5px;
    margin: 0px;
    line-height: 1;
  }

  @media (max-width: 850px){ 
    .card{
        width: 790px;
    }
  }

  @media (max-width: 400px){ 
    .card{
        width: 370px;
    }
  }
  @media (max-width: 300px){ 
    .card{
        width: 270px;
    }
  }
  @media (max-width: 200px){ 
    .card{
        width: 150px;
    }
  }

/* Footer Styles */
footer {
    background-color: #2d3437;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
}
